@model IEnumerable<XSIS.Shop.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="card">
    @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
    {
        <div class="card-header">
            <div class="row">
                <div class="col-xs-3">
                    <div class="input-group">

                        <div class="fg-line">
                            <input type="text" id="OrderNumber" name="OrderNumber" class="form-control" placeholder="Order Number">
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="input-group">

                        <div class="fg-line">


                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                <div class="dtp-container">
                                    <input type='text' id="OrderDate" name="OrderDate" class="form-control date-picker"
                                           placeholder="Click here...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="input-group">

                        <div class="fg-line">
                            <div class="col-md-10">
                                @Html.DropDownList("CustomerId", null, "-Pilih Customer-", htmlAttributes: new { @class = "form-control" })

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-primary btn-sm m-t-10"><i class="zmdi zmdi-search"></i></button>
                    <a href="@Url.Action("Create", "Customers")" class="btn btn-info btn-sm m-t-10">Create</a>
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    }


